{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container row">
        <div class="row">
            <div class="col-3">
                <div class="block left-menu">
                    <a href="{% url 'profile' %}">
                        <i class="bi bi-person-circle"></i> Мой профиль
                    </a>
                    <a href="{% url 'home' %}">
                        <i class="bi bi-newspaper"></i></i> Новости
                    </a>
                    <a href="{% url 'dialogs' %}">
                        <i class="bi bi-chat-fill"></i> Сообщения
                    </a>
                    <a href="{% url 'home' %}">
                        <i class="bi bi-people-fill"></i> Мои друзья
                    </a>
                </div>
            </div>
        <div class="panel content col-9">
            
        </div>
    </div>
{% endblock %}